<div>
  <div class="img-header clearfix">
    <div class='col-md-6 col-sm-6'>
      <h1>Produkt Name</h1>
    </div>
    <div class='col-md-6 col-sm-6'>
      <div class='row-fuid'>
        <img src="http://lorempixel.com/100/100/sports" alt='dummy-image' class='img img-circle header-image'>
        <img src="http://lorempixel.com/100/100/technics" alt='dummy-image' class='img img-circle header-image'>
        <img src="http://lorempixel.com/100/100/people" alt='dummy-image' class='img img-circle header-image'>
        <img src="http://lorempixel.com/100/100/business" alt='dummy-image' class='img img-circle header-image'>
      </div>
      <div class='row-fuid'>
        <img src="http://lorempixel.com/100/100/sports" alt='dummy-image' class='img img-circle header-image'>
        <img src="http://lorempixel.com/100/100/technics" alt='dummy-image' class='img img-circle header-image'>
        <img src="http://lorempixel.com/100/100/people" alt='dummy-image' class='img img-circle header-image'>
        <img src="http://lorempixel.com/100/100/business" alt='dummy-image' class='img img-circle header-image'>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class="row">
      <div class="col-md-12">
        {{outlet}}
      </div>
    <div>
  </div>
  <footer>
  {{#link-to 'impressum'}}Impressum{{/link-to}} |
  {{#link-to 'index'}}Index{{/link-to}}
  </footer>
</div>
